<app-header></app-header>
<app-banner-section text = "banner.PNG"></app-banner-section>
<section class = "approach">
    <div class = "approach-sec">
        <p class="approach-text">
            <span class = "approach-head">Approach</span><br><br>
            Our children are the future! We sincerely believe that it is our responsibility to equip our<br>
            children with learning and thinking skills to prepare them for their future. Every child is<br>
            valuable and has the potential to achieve greatness.<br><br>
            What is our approach to education and early childhood development?  How do we make the most<br>
            out of these precious years? At MountainView Child care Society, we believe that it is important to<br>
            make learning fun. One will be amazed at how much children learn and remember well, out of<br>
            learning that is fun and interactive. Children in the foundation stages of learning are<br>
            filled with curiosity and are hungry for knowledge… life is so very exciting! Children are<br>
            stimulated by colour, sounds, movement and play.
        </p>
    </div>
    <img class = "approach-img" src="assets/images/Captured.PNG">   
</section>

<section class = "focus">
    <img class="focus-img" src="assets/images/about-img.PNG">
<div class = "focus-text">
    Our <span class = "altr">focus</span>, aside from teaching the ABC’s and 123’s is to develop the WHOLE child,<br>
    nurturing each child, in his/her own uniqueness, to be self-assured, confident,<br>
    resilient and happy. The emotional growth and well-being is as, if not more,<br>
    important that their intellectual growth.<br>
    <br>
    Each child is unique and is born with natural talents, likes and dislikes, and as such their<br>
    development and growth is stimulated and activated differently, it is our aim to create an<br>
    environment that is conducive to enabling our children to respond to a teaching platform that<br> 
    facilitates, challenges and develops their growth, helping them to victoriously achieve their<br>
    milestones and equipping them to embrace the challenges of new learning and the journey<br> to new
    milestones.
</div>
</section>

<section class = "aim">
    <p class = "aim-text">
    We <span class="altr">Aim</span> to give our learners a well-rounded education, not only in the classroom, but also<br>
    by building their self confidence and self-esteem. These are the formative years where a<br>
    child’s attitude to school is shaped. Learning through play is the order of the day and<br>
    while very structured and purpose driven, it is a happy and loving environment that is<br>
    conducive to interactive and happy learning.<br><br>
    
    As part of their developmental phase of learning, it is also important for children to learn<br>
    to interact socially, share, play together, help one another and deal with conflict… step by<br>
    each and every small step, this is learning!

    </p>
    <img class = "aim-img" src="assets/images/about-img-2.PNG">

</section>
<app-footer></app-footer>

