<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    Mountain View Childcare Society
  </mat-toolbar> 
  
  <!--
  <nav mat-tab-nav-bar ngClass = "tabs">
    <a mat-tab-link routerLink="/Parent-Portal/Parent-Home" routerLinkActive="active-link">Home</a>
    <a mat-tab-link routerLink="/Parent-Portal/MyChildren" routerLinkActive="active-link">My Childern</a>
    <a mat-tab-link routerLink="/Parent-Portal/Admissions" routerLinkActive="active-link">Applications</a>
    <a mat-tab-link routerLink="/Parent-Portal/Payment" routerLinkActive="active-link">Payment</a>
    <a mat-tab-link routerLink="/Parent-Portal/MyProfile" routerLinkActive="active-link">Mountain Chat</a>
    <a mat-tab-link routerLink="/Parent-Portal/MyProfile" routerLinkActive="active-link">My Profile</a>
  </nav>  -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav= "matSidenav">
  
      <img class="avatar mat-elevation-z8" src="assets/images/logoback.PNG">
      <h4 class="name">{{name}} {{surname}}</h4>
      <p class="designation">{{type}}</p>
  
      <mat-divider></mat-divider>
      <button [routerLink]="['/Parent-Portal/Parent-home']" mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <br>
      <button [routerLink]="['/Parent-Portal/Mychild-Progress']" mat-button class="menu-button">
        <mat-icon>child_care</mat-icon>
        <span>My Child Progress</span>
      </button>
      <br>
      <button [routerLink]="['/Parent-Portal/childProfile']" mat-button class="menu-button">
        <mat-icon>child_care</mat-icon>
        <span>My Child Profile</span>
      </button>
      <br>
      <button [routerLink]="['/Parent-Portal/PayPortal']"mat-button class="menu-button">
        <mat-icon>payment</mat-icon>
        <span>Payment</span>
      </button>
      <br>
      
      <button [routerLink]="['/Parent-Portal/MyProfile']" mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>My Profile</span>
      </button>
     
    
      <mat-divider></mat-divider>
      <button *ngIf="logoutbtn" mat-button class="menu-button" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
      
    </mat-sidenav>
    <mat-sidenav-content>
      
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>