<router-outlet></router-outlet>
<h1>Syllabus Upload</h1>
<div class="container">


<mat-card class="example-card">
    <mat-card-content>
        <div>
            <img src="assets/images/logo.png">
        </div>
        <div class="form">
            <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
                <label>Centre Name:</label> &nbsp;&nbsp;&nbsp;&nbsp;
                <select class="centre" name=notifs> Please select data below
                  <option>Select option</option>
                    <option *ngFor="let center of centers" value="center.centreId">
                  {{ center.centreName }}
                </option>
                
                 </select>
                 <br>
                 <label>Description</label> &nbsp;&nbsp;&nbsp;&nbsp;
                 <input class="desc" type="text">
                  <br>
                 <label>Syllabus Upload:</label> &nbsp;&nbsp;&nbsp;&nbsp;
                 <input class="upload" type="file">
                   <br>
                 <input type="submit" value="Send">
                    
            </form>
        </div>
      
    </mat-card-content>
  
  </mat-card>
  </div>