.container{
    display: flex;
    align-items: center;
    gap: 60px;
    height: 75%;
}

.mat-form-field{
    width: 300px;
}

img {
    width: 350px;
    border-radius: 25px;
}

h1{
    text-align: center;
    margin-top: 30px;
}

mat-card{
    background-color: #004a9f;
}