<router-outlet></router-outlet>
<h1>Mountain View Funds</h1>
<div class="container">

<mat-card class="example-card">
    <mat-card-content>
        <div>
            <img src="assets/images/logo.png">
        </div>
        <div>
            <mat-card-header>
                <mat-card-title>Mountain View Childcare Society</mat-card-title>
            </mat-card-header>
            <p>
                Shop 3, Family Centre, William Moffett Expy,<br> Walmer Downs,<br>Gqeberha,<br>6070
            </p>

            <mat-card-header>
                <mat-card-title>Available Funds</mat-card-title>
            </mat-card-header>
            <p>
                R50 000
            </p>

            <button [routerLink]="['/Manager-Portal/Fund-Application']" mat-raised-button color="primary">Request Additional Funds</button>
        </div>
      
    </mat-card-content>
  
  </mat-card>
  </div>
  