<app-header></app-header>
<app-banner-section text="newcurriculum.PNG"></app-banner-section>
<section class = "curriculum-main">
    <div class = "curriculum-type">
    <span class="curriculum-head">Curriculum</span><br><br>
    Classes taught in English. A new theme is taught every week. This is<br>
    made available to Parents on the Umbilically App every week.<br>
    <br>
    <span class = "CAPS">CAPS</span> Curriculum for :<br>
    2 – 3 years<br>
    3 – 4 years<br>
    4 – 5 years<br>
    Grade R<br><br>

    The number of children in each class varies according to the respective age groups.<br>

    </div>
    <img class = "curriculum-img" src="assets/images/curriculum-imgs1.png">
</section>
<section class = "mommamia">
    <p>
        <span class="mommamia-head"> MommaMia – Curriculum babies to 3 years </span><br><br>
        A well-structured, therapeutically designed school curriculum for babies and toddlers – 3 months to 3 years – that addresses all the<br>
        developmental spheres of the child’s life.  As a qualified Occupational Therapist with more than a decade of experience in the field of<br>
        Paediatrics, Corien recognised the great need of parents to understand the principles of development and to gain the knowledge to apply these<br>
        enjoyable practices at home while treasuring moments of playful time with their children. Corien has conceptualised an educational programme,<br>
        developed with her treasured daughter Mia.  Incredible Kids Daycare will be making use of this educational program with all our children aged<br>
        3 months to 3 years.
    </p>

    </section>

<section class = "holiday">
    <img class="holiday-img" src = "assets/images/New Project.jpg">
        <div class="holiday-text">
            <span class = "holiday-head">School Holidays</span><br><br>
            
            We open during the school holidays throughout the year but close for +/- three weeks over<br>
            the December holidays, from approximately 15 December to 11 January each year for our<br>
            annual shutdown (December fees are payable in full). Closed for public holidays.

        </div>
</section>

<section class="extra-mural">
    <div class="extra-text">
        <span class = "extra-head">Extra Murals</span><br>
        <br>
        We offer a number of different extra murals at Incredible Kids, all of which<br>take place on our premises and
        are offered as an optional extra to your<br> child’s education. All of our extra murals are outsourced and would
        be at<br> an additional cost. The extra murals that we offer are:
        <ul>
            <li>Joy4Kids</li>
            <li>ABC Music</li>
            <li>Soccercise Starz</li>
            <li>Ballet</li>
            <li>Swimming (with Profiles Swim School)</li>
            <li>Mini’s in Action</li>
        </ul>

    </div>
    <img class = "extra-img" src="assets/images/tug-o-war.png">
</section>
<app-footer></app-footer>