mat-toolbar {
    background: #0d5301;
    color: white;
    height: 65px;
}
mat-sidenav-content{
    background: white;
    color: black;
    
}
mat-sidenav {
    margin:16px;
    width: 300px;
    border-right: none;
    background: #0d5301;
    color: white;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
 
}

button{
    color:white;
    background-color: #0d5301;
}


.mat-sidenav-container{
    height: calc(100vh - 65px);
    
}

.mat-tab-link{
    width: 100%;
}
.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 34px;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 10px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    flex-wrap: nowrap;
    
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    
}
mat-icon{
    margin-right: 8px;
}
.avatar{
    border-radius: 50%;
    width: 10rem;
    height: 9rem;
}
.name {
    margin: 0;
    margin-top: 8px;
    font-weight: normal;
}

.desgination{
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgray;
}
mat-divider{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255,255,0.5);
}
.mat-button{
    font-weight: normal;
}
