
    <div class="container">
        <div class="py-5 text-center">
          
          <h2>Fees Payment</h2>
          <p class="lead">Please fill in your bank details to pay your childs school fees</p>
        </div>
        <div class="row">
        
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing Details</h4>

            <form [formGroup]="FormGroup" class="needs-validation" novalidate>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label><br>
                  <input type="text" class="form-control" formControlName = "firstName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input type="text" class="form-control" formControlName = "lastName" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <label id="example-radio-group-label">Payment Method</label>
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="parentPayment"[ngModelOptions]="{standalone: true}">
                <mat-radio-button class="example-radio-button" *ngFor="let item of payment" [value]="item">
                  {{item}}
                </mat-radio-button>
              </mat-radio-group>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="nameOnCard">Name on card</label>
                  <input type="text" class="form-control" formControlName = "nameOnCard" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="test">Credit card number</label>
                  <input type="text" class="form-control" formControlName = "test" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="expiryDate">Expiration</label>
                  <input type="text" class="form-control" formControlName = "expiryDate" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cvv">CVV</label>
                  <input type="text" class="form-control" formControlName = "cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
            
              <input type="submit" value="Proceed to Checkout" class="btn btn-primary btn-lg btn-block" (click) ="postdata(FormGroup,parentPayment)" type="button">
              <br><br><br><br><br>
            </form>
          </div>
        </div>
      
      </div>
  