<body>
    <h1>Edit Fees</h1>
    <div class="container">
        <div class="task">
            <mat-card class="example-card">
                <mat-card-content>
                    <div>
                        <img src="assets/images/logoback.PNG">
                    </div>
                    <div class="form">
                        <form [formGroup]="FormGroup" class="example-form">
                           
                            <mat-form-field appearance="fill">
                                <mat-label>Grade:</mat-label>
                                <mat-select [(ngModel)]="selectedClass" name="class" [ngModelOptions]="{standalone: true}">
                                  <mat-option *ngFor="let item of class" [value]="item.viewValue">
                                    {{item.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              <br>
                              <mat-form-field class="venue" appearance="fill">
                                <mat-label>Venue:</mat-label>
                                <mat-select [(ngModel)]="selectedVenue" name="class" [ngModelOptions]="{standalone: true}">
                                  <mat-option *ngFor="let item of venue" [value]="item.viewValue">
                                    {{item.viewValue}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            <br>
                            <mat-form-field class="example-ee" appearance="fill">
                                <mat-label>Fees</mat-label>
                                <input matInput  formControlName="fees"> 
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Class Description</mat-label>
                                <textarea rows="10" matInput placeholder="learning outcomes are..." formControlName="desc"></textarea>
                              </mat-form-field>
                           
                            <br>
                          
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="btn">
                            <button mat-raised-button color="primary" (click)="postdata(FormGroup, selectedClass,selectedVenue)">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button [routerLink]="['/Manager-Portal/View-Fees']" mat-raised-button color="warn">Go Back</button> 
                            </div>
                            
                          
                          </form>
                </div>
              
            </mat-card-content>
            </mat-card>
            
        </div>
    
    
        
        </div>
        </body>