.container{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    height: 70%;
    padding-top: 80px;
}


h1{
    padding-bottom: 5px;
    text-align: center;
    margin-left: 100px;
}

.title{
    margin-left: 44px;
}

.tdesc, .tdest{
    margin-left: 60px;
    margin-bottom: 10px;
}

.grade{
    margin-left: 53px;
}

.t-title {
    margin-left: 103px;
    margin-bottom: 10px;
}

.display {
    
    flex-wrap: wrap;
    columns: 2;
    gap: 10px;
}

mat-card{
    margin-bottom: 10px;
    background-color:#0d5301;
    color: black;
    height: 365px;
}

.btn{
    position: relative;
    display: flex;
    gap: 10px;
    bottom: 10px;
    
}

form{
    margin-top: 15px;
    margin-left: 25px;
}

mat-form-field{
    
    width: 250px;
    color: white;
    padding-right: 25px;
    
}
img{
    width: 320px;
    height: 300px;
    position: relative;
    top: 15px;
    padding-left: 10px;
}

button{
    width: 150px;
    position: relative;
    bottom: 60px;
}

.example-e{
    position: relative;
    bottom: 70px;
}

.example-ee{
    position: relative;
    bottom: 83px;
}

mat-card-content{
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


