<router-outlet></router-outlet>
<h1>Funding Request</h1>
<div class="container">


<mat-card class="example-card">
    <mat-card-content>
        <div>
            <img src="assets/images/logoback.PNG">
        </div>
        <div class="form">
          <form [formGroup]="FormGroup" class="example-form">
           
            <mat-form-field *ngFor="let item of centre" class="example" appearance="fill">
                <mat-label>Centre Name</mat-label>
                <input matInput value="{{item['centreName']}}" > 
            </mat-form-field>
            <br>
            <mat-form-field *ngFor="let item of liaison" class="example" appearance="fill">
              <mat-label>Regional Liaison</mat-label>
              <input matInput value="{{item['firstName']}}"> 
          </mat-form-field>
          <br>
          <mat-form-field class="example" appearance="fill">
            <mat-label>Amount Request</mat-label>
            <input matInput  formControlName="amount"> 
        </mat-form-field>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            <button mat-raised-button color="primary" (click)="postdata(FormGroup)">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button [routerLink]="['/Manager-Portal/Manager-Home']" mat-raised-button color="warn">Go Home</button>
          
          </form>
            
        </div>
      
    </mat-card-content>
  
  </mat-card>
  </div>