<router-outlet></router-outlet>
<h1>Funding Request</h1>
<div class="container">


<mat-card class="example-card">
    <mat-card-content>
        <div>
            <img src="assets/images/logo.png">
        </div>
        <div class="form">
            <form [formGroup]="Forms"autocomplete="off" >
                <label>Centre Name:</label> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" *ngFor = "let notifs of centre" value="{{notifs['centreName']}}" formControlName = "centres">
            
                <input id="displays" type="text" *ngFor = "let notifs of centre" value="{{ notifs['centreId'] }}" >

                 <br>

                 <label>Coordinator:</label> &nbsp;&nbsp;&nbsp;&nbsp;
                 <input type="text" *ngFor = "let lia of liaison" value=" {{ lia['firstName'] }}" readonly>

                  
                  <select id="displays" class="liaison" name=notifs> Please select data below
                    <option *ngFor="let lia of liaison" value="lia.regionalCoordinatorId">
                  {{ lia['regionalCoordinatorId'] }}
                </option>
                
                 </select> 
                  <br>
                  <label>Amount Requested:</label> &nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="text" formControlName = "amount">
                   <br>
                   <input type="submit" value="Send" (click)="postdata(Forms)">
                    
            </form>
        </div>
      
    </mat-card-content>
  
  </mat-card>
  </div>