<router-outlet></router-outlet>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="cont">
    <div class="card">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>School Fees</mat-card-title>
  
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <li *ngFor="let amount of fees"> 
          {{amount['fees']}}
        </li>
      </p>
    </mat-card-content>
   
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Additional Fees</mat-card-title>
 
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <li *ngFor="let amount of additionalFees"> 
          {{amount['additionalFees']}}
        </li>
      </p>
    </mat-card-content>
   
  </mat-card><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>My Child's Programs</mat-card-title>
     
    </mat-card-header>
    
    <mat-card-content>
      <p>
        <li *ngFor="let item of childClass"> 
          {{item['className']}}
        </li>
        <li *ngFor="let item of childPrograms"> 
          {{item['packageName']}}
        </li>
      </p>
    </mat-card-content>
   
  </mat-card>

  </div>

  <div class="card3">
    <mat-card class="example-cards">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mountain Dash</mat-card-title>
          <mat-card-subtitle>Notice Board</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            <li *ngFor="let item of notifs">
              {{item.title}}<br>
              {{item.message}}
              {{item.Id}}<br><br>
            </li>
          </p>
        </mat-card-content>
       
      </mat-card> 

      
</div>
</div>



  