mat-card {
    width: 225px;
    height: 230px;
    color: white;
    background-color: #004a9f;
}

.cont{
    margin: 16px 16px;
    display: flex;
    gap: 35px;
    
}
.card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    border: none;
}
.example-cards{
    width:520px;
    height: 75vh;
}

.num2{
    font-family: 'Bangers',;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 54px;
}

.num3{
    font-family: 'Bangers', cursive;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
    position: relative;
    top: 45px;
}

.num{
    font-family: 'Bangers', cursive;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
    position: relative;
    top: 54px;
}

.txt{
    font-family: 'Bangers',;
    font-weight: 900;
    font-size: 24px;
    
    position: relative;
   
}
