<div class="navbar">
    <a routerLink = "/">HOME</a> 
    <a routerLink ="/About">ABOUT US</a>
    <a routerLink ="/Staff">OUR STAFF</a>
    <a routerLink = "/Curriculum">OUR CARRICULUM</a>
    <a href="https://mountainviewcalendar.s3.us-east-2.amazonaws.com/MountainView-2022_Calendar.pdf" target="_blank">CALENDER</a>
    <a routerLink = "/Fees">FEES</a>
    <a routerLink ="/Careers">CAREERS</a>
    <a routerLink="/Contact-us">CONTACT US</a>
    </div>
    <section class = "lower-nav">
      <p class = "location">
        <fa-icon [icon] = "faMapMarkedAlt"></fa-icon>
       107 Walmer Downs Family Centre, Elizabeth, 6001 
      </p>
      <p class="contact-call">
        <fa-icon [icon] = "faPhoneAlt"></fa-icon>
        061-7872-707
      </p>
      <p class="contact-email">
        <fa-icon [icon] = "faInbox"></fa-icon>
        mountainview@gmail.com
      </p>
      <button class="btn-login" onclick="location.href='/Login';">
          <fa-icon [icon] ="faLock"></fa-icon>
          <span class="login-text">&nbsp;&nbsp;Login Portal</span>
      </button>
     
    </section>
  