<app-header></app-header>
<app-banner-section text="fees-banner.PNG"></app-banner-section>
<section class="fees">
    <div class="divide">
   
    <p class="fee-sec">
        <span class="fee-text">Fees January 2022 to December 2022</span><br><br><br>
        <span class="days">Monday - Thursday: 7:00am - 5:00pm</span><br>
        <span class="days">Friday: 7:00am - 16:30pm</span><br>
        <span class="days">COVID HOURS: Monday - Thursday: 7:00am - 5:00pm / Friday: 7:00am - 16:00pm</span><br><br>
        <span>Upfront payment for year discount available – Enquire with school reception for more details in this regard.<br>
            (PS: December fees payable in full for the month)</span>
    </p><br>
    </div>
</section>
<section class = "bubbles">
    <div class="container">
        <p class="top-cont">
            Babies/Todlers<br><br>
            From 3 Months to 36 Months old.
        </p>
        <p class="bott-cont">
            Full Day:<br><br>
            R2700.00 per month - All inclusive <br><br>
            (A non-refundable annual registration fee of R850.00 to be paid on
            <br>enrolment for 2021 and return learners only pay R400.00)
        </p>
    </div>
    <div class="container-2">
        <p class="top-cont2">
            Children<br><br>
            3 to 5 Years old.
        </p>
        <p class="bott-cont2">
            Full Day:<br><br>
            R2650.00 per month - All inclusive <br><br>
            (A non-refundable annual registration fee of R850.00 to be paid on
            <br>enrolment for 2021 and return learners only pay R400.00)
        </p>

    </div>
    <div class="container3">
        <p class="top-cont3">
            Grade R<br><br>
            Full day (11 months: Jan to Nov 2022)
        </p>
        <p class="bott-cont3">
            Full Day:<br><br>
            R2650.00 per month - All inclusive <br><br>
            (A non-refundable annual registration fee of R850.00 to be paid on
            <br>enrolment for 2021 and return learners only pay R400.00)
        </p>
    </div>
</section>
<section class="discount">
    <p><span class="bold">Sibling Discount Monthly</span> - R150.00 per month (Applicable for 2nd & 3rd Child only)<br><br>
        <span class="bold">Mountain View Childcare Society</span> - "Drop-in Childcare" - R80.00 half day (Maximum 4 hours)<br><span class="move">- R150.00 full day (4 hours +)</span></p>
</section>
<section class="including">
    <div class="fees-inc">
        <span class="fee-head">Fees Include:</span>
        <ul>
            <li>Breakfast</li>
            <span class="no-space">
            <li>Snacks x 2 - please send a lunchbox along with healthy snacks<br>
                if you want your child to have an additional snack OR their own<br>
                food Lunch 
            </li></span>
            <li>Umbilically - Communication App, Daily Diary & Photos</li>
            <li>Labels</li>
            <li>All Stationery, Art Materials and Aprons</li>
            <li>Toiletries - Tissues, wetwipes and toilet paper
                Mattresses</li>
            <span class="no-space">
            <li>School holidays – December school holidays excluded - We close<br>
                for roughly three weeks for our Annual Shutdown. See calendar for<br>dates
            </li></span>
        </ul>
    </div>
    <img class="fee-img" src="assets/images/fee-img.PNG">
</section>

<section class="drop-in-sec">
    <div class="drop-in">
        <p class="drop-text">
            <span class="drop-head">Mountain View Childcare Society - "Drop-in Child Care"</span><br><br>
            <span class="text1">Bookings Essential - limited space due to Covid</span><br><br>
            <span class="text2">Hours - Monday to Friday 7.00am to 16.00pm</span><br>
            <br>
            <span class="text3">Fees</span><br>
            <br>
            R80.00 half day (Maximum 4 hours)    R150.00 full day (4 hours +)<br>
            Fee to be be paid in advance at drop off<br>
            Kinldy pack in a snack and something to drink
        </p>
    </div>
</section>
<app-footer></app-footer>
