<router-outlet></router-outlet>
<h1>Financial Requests</h1>
  <table mat-table [dataSource]="results" class="mat-elevation-z8" style="width: 100% !important;">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Centre Name </th>
      <td mat-cell *matCellDef="let element"> {{element.centreName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Requested Funds </th>
      <td mat-cell *matCellDef="let element"> R {{element.amount}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Centre Available Funds </th>
      <td mat-cell *matCellDef="let element">R {{element.fundsAvailable}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.toUpperCase()}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
         <button (click)="approve(element.reqID)" *ngIf="element.status == 'pending'">Approve</button>
         <button (click)="decline(element.reqID)" *ngIf="element.status == 'pending'">Decline</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


