<app-header></app-header>
<app-banner-section text = "careers.PNG"></app-banner-section>
<section class="main">
    <p class="hire-head">We're Hiring!!!</p>
    <p class="hire-text">
        Careers
        
        Welcome to the online application process at Mountain View Child Care Society. We are a company with a learning culture and a team atmosphere.<br>
        A great team is what makes our centre such a wonderful place to be. We provide the innovative and creative benefits to attract, hire and<br>
        retain top caregivers and support staff. Whether you are a seasoned veteran or new to the child care field, we would love to hear from<br>
        you. Please fill out the following application and we will get back to you as soon as we can.<br>
        <span class="thank-you">Thank You!</span></p>
        <br>
        <hr>
        <div class = "cards">
            <div class="avi">
                <img class="avatar" src="assets/images/brenda-staff12.png">
                <div class="card">
                    <p>ipsum Lorem ipsum dolor sit amet consectetur<br>
                    Unde voluptas enim maiores error, blanditiis<br>
                    voluptatum, doloribus ullam, quas voluptatem<br>
                    praesentium nulla consectetur! Dignissimos<br>
                    doloribus.
                    </p>
                    <button class="apply-btn">Apply</button>
                </div>
            </div>
            <div class="avi">
                <img class="avatar" src="assets/images/brenda-staff12.png">
                <div class="card">
                    <p>ipsum Lorem ipsum dolor sit amet consectetur<br>
                    Unde voluptas enim maiores error, blanditiis<br>
                    voluptatum, doloribus ullam, quas voluptatem<br>
                    praesentium nulla consectetur! Dignissimos<br>
                    doloribus.
                    </p>
                    <button class="apply-btn">Apply</button>
                </div>
            </div>
            <div class="avi">
                <img class="avatar" src="assets/images/brenda-staff12.png">
                <div class="card">
                    <p>ipsum Lorem ipsum dolor sit amet consectetur<br>
                    Unde voluptas enim maiores error, blanditiis<br>
                    voluptatum, doloribus ullam, quas voluptatem<br>
                    praesentium nulla consectetur! Dignissimos<br>
                    doloribus.
                    </p>
                    <button class="apply-btn">Apply</button>
                </div>
            </div>
        </div>
</section>
<app-footer></app-footer>
