.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  mat-form-field{
    width: 50%;
    padding-right: 20px;
  }

  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: #004a9f;
    color: white;
}