<h1 style="text-align: center;">Applications for Mountain View Childcare Society 2022<br>Now Open</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" >
    <form [formGroup]="firstFormGroup" >
      <ng-template matStepLabel>Primary Parent Details</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="Pname" required>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname" formControlName="Psurname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Cell Number</mat-label>
        <input matInput placeholder="Cell No" formControlName="PNumber" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>ID Number</mat-label>
        <input matInput placeholder="ID No" formControlName="Pid" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Occupation</mat-label>
        <input matInput placeholder="Occupation" formControlName="POccupation" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="E.g Name@gmail.com" formControlName="PEmail" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>1<sup>st</sup> Line Address</mat-label>
        <input matInput placeholder="Address No and Street Name" formControlName="Padd1" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>2<sup>nd</sup> Line Address</mat-label>
        <input matInput placeholder="Town" formControlName="Padd2" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>3<sup>rd</sup> Line Address</mat-label>
        <input matInput placeholder="P.O Box(Optional)" formControlName="Padd3">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="Padd4" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Zip</mat-label>
        <input matInput placeholder="Zip Code" formControlName="Padd5" required>
      </mat-form-field>
      
        
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>
        
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Emergency Contact</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="SPname" required>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname" formControlName="SPsurname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Cell Number</mat-label>
        <input matInput placeholder="Cell No" formControlName="SPNumber" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>ID Number</mat-label>
        <input matInput placeholder="ID No" formControlName="SPid" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Occupation</mat-label>
        <input matInput placeholder="Occupation" formControlName="SPOccupation" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Work Number" formControlName="SPEmail" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>1<sup>st</sup> Line Address</mat-label>
        <input matInput placeholder="Address No and Street Name" formControlName="SPadd1" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>2<sup>nd</sup> Line Address</mat-label>
        <input matInput placeholder="Town" formControlName="SPadd2" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>3<sup>rd</sup> Line Address</mat-label>
        <input matInput placeholder="P.O Box(Optional)" formControlName="SPadd3">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="SPadd4" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Zip</mat-label>
        <input matInput placeholder="Zip Code" formControlName="SPadd5" required>
      </mat-form-field>
      
        
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>
        
      </div>
        
     
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Child Details</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="Cname" required>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput placeholder="Surname" formControlName="Csurname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
      <mat-label>Date Of Birth</mat-label>
        <input matInput placeholder="25/12/1995" formControlName="CDOB" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>ID Number</mat-label>
        <input matInput placeholder="ID No" formControlName="Cid" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <input matInput placeholder="Occupation" formControlName="Cimage" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Certificate</mat-label>
        <input matInput placeholder="Work Number" formControlName="Ccert" required>
      </mat-form-field><br>
    
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>      
      </div>
          
    </form>
  </mat-step>

<mat-step [stepControl]="forthFormGroup">
  <form [formGroup]="forthFormGroup" (ngSubmit)="postdata(firstFormGroup, secondFormGroup, forthFormGroup)">
   
      <ng-template matStepLabel>Dietary Restrictions</ng-template>
      <label id="example-radio-group-label">Please indicate if your child has any dietary Restrictions</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="myDiet" [ngModelOptions]="{standalone: true}" name="myDiet"><br><br>
      <mat-radio-button  class="example-radio-button" *ngFor="let diet of dietRestrictions" [value]="diet"><br>
      {{diet}}
      
      </mat-radio-button>
      
      </mat-radio-group>
      
      <mat-form-field>
        <mat-label>Dietary Specification</mat-label>
        <input matInput placeholder="If Other" formControlName="ifOther">
      </mat-form-field>
      <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>   
        <button mat-button (click)="submit()">Submit</button>   
      </div>
    
    </form>
      
</mat-step>
  <mat-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Allergies</ng-template>
      <mat-form-field>
        <mat-label>Pkease indicate any snd all allergies your child has</mat-label>
        <input matInput placeholder="allergies" formControlName="allergies" required>
      </mat-form-field>
    <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>      
      </div>
      </form>
  </mat-step>
  <mat-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup" >
      <ng-template matStepLabel>Program</ng-template>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="childClass" [ngModelOptions]="{standalone: true}" name="childClass"><br><br>
      <mat-radio-button  class="example-radio-button" *ngFor="let class of myClasses" [value]="class"><br>
      {{class}}
      
      </mat-radio-button>
      
      </mat-radio-group>

      <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="myProgram" [ngModelOptions]="{standalone: true}" name="myProgram"><br><br>
    <mat-radio-button  class="example-radio-button" *ngFor="let program of myPrograms" [value]="program"><br>
    {{program}}
    
    </mat-radio-button>
    
    </mat-radio-group>
   
    <div>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button matStepperNext>Next</button>      
      </div>
      </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>