mat-card {
    width: 240px;
    height: 230px;
    color: white;
    background-color: #0d5301;
}

.notif-bubble{
    width: 150px;
    height: 100px;
    background-color: white;
    color: black;
}

.cont{
    margin: 16px 16px;
    display: flex;
    gap: 35px;
    
}
.notice{
    display: flex;
    flex-direction: row;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    border: none;
}
.example-cards{
    width:420px;
    height: 75vh;
}

.num{
    font-family: 'Bangers', cursive;
    font-weight: 900;
    font-size: 54px;
    text-align: center;
    position: relative;
    top: 54px;
}

li {
    list-style: none;
}