<app-header></app-header>
<app-banner-section text="staff-banner.PNG"></app-banner-section>
<section class = "staff-intro">
    <br><br>
    <p class = "staff-text">
      <span class="staff-head">Mountain View Child Care Society Staff are diligent and hard-working.</span><br><br>
      We have a dedicated teacher in each class who are asisted by our four supervisors and other assistants allowing us<br>
      to attend to each and every child’s needs. I also prioritise the training and development of my staff as I believe<br>
      that in order to get the best out of my staff, I need to ensure that they are properly trained and always equipped<br> 
      to full-fill their daily tasks and responsibilities in excellence. Mountain View Child Care is always looking for<br>
      new ways to make learning and development fun. We set ourselves apart because our vision for all the children that<br>
      we have the privilege of teaching and caring for, is that we “Slow down, listen and learn, to see the world through<br>
      our children’s eyes”.
      </p><br><br>
</section>

<section class = "staff-img">
    <figure>
        <img class = "staff-image" src="assets/images/leisel-box-photo-staff1.png">
        <figcaption>
            <p>Leisel</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/jolene-staff2.png">
        <figcaption>
            <p>Jolene</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/mel-staff3.png">
        <figcaption>
            <p>Mel</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/ching-staff4.png">
        <figcaption>
            <p>Ching</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/elne-staff5.png">
        <figcaption>
            <p>Elene</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/des-staff6.png">
    <figcaption>
        <p>Des</p>
    </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/tisha-staff7.png">
        <figcaption>
            <p>Tisha</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/yvette-staff8.png">
        <figcaption>
            <p>Yvette</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/tasha-staff9.png">
        <figcaption>
            <p>Tasha</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/elrine-staff10.png">
        <figcaption>
            <p>Elrine</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/shade-staff11.png">
        <figcaption>
            <p>Shade'</p>
        </figcaption>
    </figure>

    <figure>
        <img class = "staff-image" src="assets/images/brenda-staff12.png">
        <figcaption>
            <p>Brenda</p>
        </figcaption>
    </figure>

</section>

<app-footer></app-footer>
