mat-card {
    width: 225px;
    color: white;
    background-color: #8b0903;
}

.cont{
    margin: 16px 16px;
    display: flex;
    gap: 35px;

}
.card{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    border: none;
}
.example-cards{
    width:520px;
    height: 75vh;
}

.counts-card {
  height: 32vh !important;
  /* padding-left: 10px; */
}
.mat-button {
  color: #fff;
  background-color: black;
  margin-left: 3.5rem;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul > li {
  margin-bottom: 5px;
}
