<router-outlet></router-outlet>
<h1>Mountain View Educators</h1>
<table mat-table [dataSource] = "dataSource">
    <ng-container matColumnDef="teacherId">
        <th mat-header-cell *matHeaderCellDef></th>
        <th mat-cell *matCellDef="let post"> </th>
    </ng-container>
  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> NAME</th>
      <th mat-cell *matCellDef="let post"> {{post.name}}</th>
  </ng-container>
  <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>SURNAME</th>
      <th mat-cell *matCellDef="let post"> {{post.surname}}</th>
  </ng-container>

 <ng-container matColumnDef="crudBtns">
     <th mat-header-cell *matHeaderCellDef>
     
     </th>
     
     <td style="float: right;" mat-cell *matCellDef="let post">
         <button [routerLink]="['/Manager-Portal/View-Teacher']" style="margin:15px;" mat-raised-button color="accent" (click)=getRec(post.teacherId)>View Teacher</button>
         <button [routerLink]="['/Manager-Portal/Edit-Teacher']" style="margin:15px;" mat-raised-button color="warn">Edit Teacher</button>
      </td>
 </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let post; columns: displayColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions] = "[5,10,20]" showFirstLastButtons></mat-paginator>