<section class = "footer-img">
    <img class = "footimg" src="assets/images/middilePnl.jpg">
  </section>
  <section class = "mid-foot">
    <p>.</p>
  </section>
  <section class = "footer">
      <div class = "contact">
        <p class = "cont-head">Contact Us</p>
      
        <img class = "foot-icons" src="https://img.icons8.com/ios-filled/50/000000/phone-not-being-used.png"/> 0617872707<br><br>
        <img class = "foot-icons" src="https://img.icons8.com/ios-filled/50/000000/email.png"/> masixolematolweni.1@gmail.com<br><br>
        <img class = "foot-icons" src="https://img.icons8.com/ios-filled/50/000000/place-marker--v1.png"/>
        Walmer Downs Family Centre,<br><span class = "loc-move">
        William Moffett Express Way,<br>
        Port Elizabeth<br>
        6001
        </span>
      </div>
      <div class = "links">
      <p class = "link-head">Links</p>
      <p class= "link-text">
        <a class = "f-link" href="#">Home</a><br>
        <a class = "f-link" href="#">About</a><br>
        <a class = "f-link" href="#">Addmissions</a><br>
        <a class = "f-link" href="#">Team</a><br>
      </p>
      </div>
      <div class = "link-cont">
        <p class = "link-cont-text">
          <a class = "f-link" href="#">Contact Page</a><br>
          <a class = "f-link" href="#">Login</a>
        </p>
      </div>
      <div class = "footer-logo">
        <img class = "foot-img" src="assets/images/logo.png">
      </div>
    </section>
