.container{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.example-cards{
    height: 240px;
  
}

h1{
    padding-bottom: 45px;
    text-align: center;
    margin-left: 70px;
}

.title{
    margin-left: 4px;
    padding-bottom: 50px;
}



.tdesc, .tdest{
    margin-left: 60px;
    margin-bottom: 10px;
}

.t-title {
    margin-left: 103px;
    margin-bottom: 10px;
}

.desc{
    position: relative;
    bottom: 10px;
}

.display {
   
    height: 460px;
    width: 600px;
    display:grid ;
    grid-template-columns: auto auto;
    overflow:auto;
    
 
}

mat-card{
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

.card{
    width: 260px;
    columns: 3;
    border: none;
    
   
}

.dis{
    display: none;
}

