.container{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 70%;
}

.example-cards{
    height: 240px;
  
}

img{
    width: 280px;
    position: relative;
    top: 35px;
}

h1{
    padding-bottom: 45px;
    text-align: center;
    margin-left: 70px;
}

.title{
    margin-left: 4px;
    padding-bottom: 50px;
}



.tdesc, .tdest{
    margin-left: 60px;
    margin-bottom: 10px;
}

.t-title {
    margin-left: 103px;
    margin-bottom: 10px;
}

.desc{
    position: relative;
    bottom: 10px;
}

.display {
   
    height: 460px;
    width: 600px;
    display:grid ;
    grid-template-columns: auto auto;
   
    
 
}

mat-card{
    margin-bottom: 10px;
    color: black;
    background-color: white;
}

.card{
    width: 260px;
    columns: 3;
    border: none;
    
   
}

.example-car{
    width: 230px;
}

.dis{
    display: none;
}
form{
    background-color: #0d5301;
    
    
}

mat-card-content{
    display: flex;
}

.task {
    width: 725px;
    position: relative;
    right: 60px;
}

mat-form-field{
    position: relative;
    left: 13px;
    top: 11px;
    color: white;
}

.btn{
    position: relative;
    right: 9px;
    padding-right: 15px;
}