<router-outlet></router-outlet>
<h1>Mountain View Learner Applications</h1>
<table mat-table [dataSource] = "dataSource">
    <ng-container matColumnDef="ApplicationID">
        <th mat-header-cell *matHeaderCellDef> </th>
        <th mat-cell1 *matCellDef="let post"></th>
    </ng-container><br>
    <ng-container matColumnDef="childName">
      <th mat-header-cell *matHeaderCellDef> Child Name</th>
      <th mat-cell *matCellDef="let post"> {{post.childName}}</th>
  </ng-container>
  <ng-container matColumnDef="childSurname">
      <th mat-header-cell *matHeaderCellDef> Child Surname</th>
      <th mat-cell *matCellDef="let post"> {{post.childSurname}}</th>
  </ng-container>
 <ng-container matColumnDef="crudBtns">
     <th mat-header-cell *matHeaderCellDef>
     
     </th>
     
     <td style="float: right;" mat-cell *matCellDef="let post">
         <button [routerLink]="['/Manager-Portal/View-applicant']" style="margin:15px;" mat-raised-button color="accent" (click) = "getRec(post.ApplicationID)">View Application</button>
      </td>
 </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let post; columns: displayColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions] = "[5,10,20]" showFirstLastButtons></mat-paginator>